# 会议信息：

<meeting_info>
{% if event %}事件：{{ event.name }}{% endif %}
{% if participants | length > 0 %}参与者：{% endif %}
{%- for participant in participants %}

- {{ participant.name }}{% if participant.name == config_profile.full_name %} (这是我){% endif %}
  {%- endfor %}
  </meeting_info>

# 原始笔记：

<raw_note>
{{ pre_meeting_editor }}
{{ in_meeting_editor }}
</raw_note>

# 会议转录：

<transcript>
{{ render_timeline_view(timeline_view=timeline_view) }}
</transcript>
