<participants>
{% for participant in participants %}
- {{ participant.full_name }}
{% endfor %}
</participants>

<raw_note>
{{ editor }}
</raw_note>

<transcript>
{{ words | timeline }}
</transcript>

你的任务是基于以上信息写出一份完美的笔记。
请注意，上述给出的信息如参与者、转录内容等已经在UI中显示，所以你不需要重复它们。

{% if type == "HyprLocal" %}
另外，在写增强笔记之前，请在<headers></headers>标签内写出多个顶级标题，然后基于这些标题来写笔记。

<headers></headers>标签中的每一项都必须在最终笔记中作为markdown标题('#')使用。不允许使用其他标题。
{% endif %}
